.menu-mas-ancho{
    display: flex;
    /* justify-content:space-evenly; */

    /* margin-left: 10px;
    /*margin-right: 10px; */
    padding: 20px;
    background-image: url(multimedia/oveja.jpg) ;
    background-size: contain;
    background-repeat: repeat-x;
    /* background-position: center; */
    
}

.botones-del-menu{
    display: flex;
    
    padding: 50px;
    border:double;
    color: rgb(0, 0, 0);
    background-color: rgba(240, 226, 222, 0.37);
    font-size:x-large;
    font-weight: bolder;
}

/* .botones{
    display: flex;
    justify-content:space-evenly;
    font-size: xx-large;
} */
li{
    display: flex;
    justify-content:space-evenly;
}